<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <File name="Logfile" fileName="logs/kairuku/kairuku.${date:yyyy-MM-dd-HH-mm-ss}.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %c{1.} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="trace">
            <AppenderRef ref="Logfile"/>
            <AppenderRef ref="Console" level="error"/>
        </Root>
        <Logger name="net.marvk.chess.lichess4j" level="trace" additivity="false">
            <AppenderRef ref="Logfile" level="trace"/>
            <AppenderRef ref="Console" level="error"/>
        </Logger>
    </Loggers>
</Configuration>